.trackDetails {
  display: grid;
  gap: 2em;
  grid-template-areas:
    "img"
    "title"
    "artist";
}

.img {
  grid-area: img;
  border-radius: 20px;
  object-fit: cover;
}
.title {
  grid-area: title;
  font-size: 1.6em;
}
.artist {
  grid-area: artist;
  font-size: 1.6em;
}
